<section>
  <div class="container" [ngClass]="{reminder: tarefa.concluido}">
    <label for="">{{tarefa.titulo}}</label>
    <div class="tarefa">
      <label for="">{{tarefa.data}}</label>
      <p for="">{{tarefa.horario}}</p>
    </div>
    <div class="botoes">
      <div
        class="radio"
        (click)="onToggle(tarefa)"
        [ngClass]="{reminder: tarefa.concluido}">
        <img src="ok-image.png" alt="" *ngIf="tarefa.concluido">
      </div>
      <button (click)="onDelete(tarefa)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>

  </div>
</section>
