<section>
  <div class="container" [ngStyle]="{'background-color': clicado ? '#D6C8E1' : ''}">
    <label for="">{{tarefa.titulo}}</label>
    <div class="tarefa">
      <label for="">{{tarefa.data}}</label>
      <p for="">{{tarefa.horario}}</p>
    </div>
    <div class="botoes">
      <div class="radio" (click)="mudarCor()"
        [ngStyle]="{'background-color': clicado ? '#704D97' : ''}">
        <img src="ok-image.png" alt="" [hidden]="!clicado">
      </div>
      <button (click)="onDelete(tarefa)">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" fill="#FFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
      </button>
    </div>

  </div>
</section>
