<app-navbar></app-navbar>
<main>
  <header>
    <h1>Mood traker</h1>
  </header>
  <div class="sentimentos">
    <h1>Como está seu dia?</h1>
    <div class="gridblock45">
      <div>
        <button class="block45">
          <h1>Ótimo</h1>
        </button>
        <button class="block45">
          <h1>Ruim</h1>
        </button>
      </div>
      <button class="block45">
        <h1>Normal</h1>
      </button>
      <div>
        <button class="block45">
          <h1>Bom</h1>
        </button>
        <button class="block45">
          <h1>Péssimo</h1>
        </button>
      </div>
    </div>
    <h1>Como você está se sentindo?</h1>
    <section>
      <div class="gridblock-normal">
        <div *ngFor="let emotion of emotions">
          <app-emotion [title]="emotion.title" [image]="emotion.image"></app-emotion>
        </div>
      </div>
    </section>
    <form>
    <h1>Escreva sobre o que sente:</h1>
    <div class="gridinput">
      <input type="text" placeholder="Digite aqui">
    </div>
      <h1>Está sobrecarregado?</h1>
      <div class="check">
        <div>
          <input type="checkbox">
          <label for="">Sim</label>
        </div>
        <div>
          <input type="checkbox">
          <label for="">Não</label>
        </div>
      </div>
      <h1>Você está verbal?</h1>
      <div class="check">
        <div>
          <input type="checkbox">
          <label for="">Sim</label>
        </div>
        <div>
          <input type="checkbox">
          <label for="">Não</label>
        </div>
      </div>
      <h1>Prefere evitar contato físico?</h1>
      <div class="check">
        <div>
          <input type="checkbox">
          <label for="">Sim</label>
        </div>
        <div>
          <input type="checkbox">
          <label for="">Não</label>
        </div>
      </div>
    </form>
    <div class="finalizar">
      <button routerLink="/">Finalizar questionário</button>
    </div>

  </div>
</main>


