*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Offside', sans-serif;
}

body{

  align-items: center;
  justify-content: center;
  padding-top: 80px;
  margin-bottom: -65px;
  min-height: 600px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}



h1{
  font-size: 20px;

}

.input-botao{
  padding-top:300px;
}

.input-botao button{
  width: 271px;
  height: 48px;
  background-color: #D6C8E1;
  border-radius: 60px;
  font-size: 20px;
  margin-top: 10px;
}


.form{
  padding-top: 90px;
}


.divisor{
  margin-bottom: 20px;
}

.form .input-group{
  margin-bottom: 20px;
  border-bottom: 3px solid #704D97;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  cursor: text;
}

.form .input-group input{
  border: none;
 background-color: transparent;
}

.form .input-group input:focus{
outline: none;
}




@media (max-width:930px) {

  .box{
      width: 700px;
  }
  .form-box{
      width: 100%;
      border-radius: 20px;
  }
}
@media (max-width:500px) {
  .w50{
      width: 100%;
      padding: 0;
  }
}
