<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="personalizar-perfil.component.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="top">
     <h1>Vamos começar!</h1>
     <h2>Primeiro, personalize seu perfil.</h2>
     <img src="icon-camera.png" alt="">
       <div class="input-button">
        <button>Escolher foto de perfil</button>
       </div>
    </div>
    <div class="form">
      <div class="divisor">
      <p>Você é:</p>
        <div class="checkbox">
          <ul><input type="checkbox" /> Neurotípico</ul>
          <ul><input type="checkbox" /> Neurodivergente</ul>
        </div>
      </div>
      <div class="divisor">
      <p>É responsável por alguém da família?</p>
        <div class="checkbox">
        <ul><input type="checkbox" /> Sim</ul>
        <ul><input type="checkbox" /> Não</ul>
        </div>
      </div>
      <div class="divisor">
      <p>Insira sua idade:</p>
        <div class="input-group">
          <input type="text" id="" placeholder="Digite aqui" required>
          
        </div>
      </div>
        <div class="input-botao">
          <button>Confirmar</button>
        </div>
    </div>
  </div>
</body>
</html>
