<body>
  <div class="container">
    <div class="form">
      <div class="divisor">
      <p>Você é:</p>
        <div class="checkbox">
          <div>
            <app-radio></app-radio>
            <h2>Verbal vocalizado</h2>
          </div>
          <div>
            <app-radio></app-radio>
            <h2>Semi-verbal vocalizado</h2>
          </div>
          <div>
            <app-radio></app-radio>
            <h2>Não-verbal vocalizado</h2>
          </div>
        </div>
      </div>
      <div class="divisor">
      <p>Neurotipo(s)</p>
        <div class="input-group">
          <input type="text" id="" placeholder="Digite aqui..." required>
        </div>
      </div>
        <div class="input-botao">
          <button>Confirmar</button>
        </div>
    </div>
  </div>
</body>
