<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="personalizar-perfil-divergente.component.css">
  <title>Document</title>
</head>
<body>
  <div class="container">

    <div class="form">
      <div class="divisor">
      <p>Você é:</p>
        <div class="checkbox">
          <div>
            <input type="checkbox" />
            <h2>Verbal vocalizado</h2>
          </div>
          <div>
            <input type="checkbox" />
            <h2>Semi-verbal vocalizado</h2>
          </div>
          <div>
            <input type="checkbox" />
            <h2>Não-verbal vocalizado</h2>
          </div>
        </div>
      </div>
      <div class="divisor">
      <p>Neurotipo(s)</p>
        <div class="input-group">
          <input type="text" id="" placeholder="Digite aqui..." required>
        </div>
      </div>
        <div class="input-botao">
          <button>Confirmar</button>
        </div>
    </div>
  </div>
</body>
</html>
