.evento{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  padding: 5px;
}
.bola{
  background-color: #D6C8E1;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 100%;
}
.evento h1{
  font-size: medium;
}
.evento p{
  font-size: smaller;
  color: #818181;
}
