<body>
  <div class="box">
    <div class="img-box">
        <img src="logo2.png" alt="">
    </div>
    <div class="form-box">
      <div class="cadastro">
        <h2>Login</h2>
        <p> Ainda não tem uma conta? <a routerLink="/cadastro"> Cadastre-se </a> </p>
      </div>
        <form action="#">

            <div class="input-group">
                <input type="email" id="email" placeholder="E-mail" required>
            </div>

            <div class="input-group">
                <input type="password" id="senha" placeholder="Senha" required>
            </div>

            <div class="input-button">
                <button routerLink="/usoapp">Entrar</button>
            </div>

        </form>
    </div>
</div>
</body>
