<app-navbar></app-navbar>
<main>
  <header>
    <h1>Calendário / To-do</h1>
  </header>
  <app-calendario></app-calendario>
  <button class="add-evento">
    <h1>Criar evento (Calendário)</h1>
    <mat-icon>add_circle</mat-icon>
  </button>
  <button class="add-to-do">
    <h1>Adicionar tafera (To-do)</h1>
    <mat-icon>add_circle</mat-icon>
  </button>
  <form>
    <app-to-do></app-to-do>
    <app-to-do></app-to-do>
    <app-to-do></app-to-do>
  </form>
  <form action="">
    <h1>Finalizados</h1>
    <app-to-do></app-to-do>
    <app-to-do></app-to-do>
  </form>
</main>
