<app-navbar></app-navbar>
<main>
  <header>
    <h1>Calendário / To-do</h1>
  </header>
  <app-calendario></app-calendario>
  <button class="add-evento" routerLink="/addcalendario">
    <h1>Criar evento (Calendário)</h1>
    <mat-icon>add_circle</mat-icon>
  </button>
  <!--<button class="add-to-do" routerLink="/addtodo">
    <h1>Adicionar tafera (To-do)</h1>
    <mat-icon>add_circle</mat-icon>
  </button>-->
  <div class="todo">
    <h1>Criar Tarefa</h1>
    <app-add-to-do (onAddTask)="AddTask($event)"></app-add-to-do>
    <h1>Tarefas</h1>
    <app-to-do
    *ngFor="let tarefa of tarefas"
    [tarefa]="tarefa"
    (onDeleteTask)="deleteTask($event)"
    (onToggleConcluido)="toggleConcluido($event)"
    ></app-to-do>
  </div>
</main>
