<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="personalizar-perfil-prof.component.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="top">
     <h1>Vamos começar!</h1>
     <h2>Primeiro, personalize seu perfil.</h2>
     <img src="icon-camera.png" alt="">
       <div class="input-button">
        <button>Escolher foto de perfil</button>
       </div>
    </div>
    <div class="form">

      <div class="divisor">
      <p>Insira sua idade:</p>
        <div class="input-group">
          <input type="text" id="" placeholder="Digite aqui" required>
        </div>
        <p>Registro em conselho regional:</p>
        <div class="input-group">
          <input type="text" id="" placeholder="Digite aqui" required>
        </div>
        <p>Meio de contato:</p>
        <div class="input-group1">
          <input type="text" id="" placeholder="Digite aqui" required>
        </div>
        <div class="adicionar">
          <img src="mais.png" alt="">
        </div>
      </div>
        <div class="input-botao">
          <button>Confirmar</button>
        </div>
    </div>
  </div>
</body>
</html>
