<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>
<body>
  <div class="container">
  <h1>Acessibilidade</h1>
  <div class="divisor">
  <p>Fonte</p>
  <p>Tema</p>
  <div class="checkbox">
    <ul>Leitura por voz<input type="checkbox" /></ul>
    <ul>Linguagem CAA<input type="checkbox" /> </ul>
    <div class="input-botao">
      <button>Confirmar</button>
    </div>
</div>
    </div>

</div>

</body>
</html>
