<app-navbar></app-navbar>
<app-banner></app-banner>
<main>
  <section class="botoes">
    <button>
      <div>
        <img src="pasta.png" alt="">
        <h2>C.A.A</h2>
      </div>
    </button>

    <button>
      <div>
        <img src="pasta.png" alt="">
        <h2>Histórias sociais</h2>
      </div>
    </button>
  </section>

  <section class="container">
    <h2 class="med">Medicações</h2>
    <div class="med-list">
      <app-remedios-list></app-remedios-list>
    </div>

    <h2 class="event">Eventos da semana</h2>
  </section>
</main>
