<body>
  <div class="box">
    <div class="img-box">
        <img src="logo2.png" alt="">
    </div>
    <div class="form-box">
      <div class="cadastro">
        <h2>Cadastre-se</h2>
        <p> Já tem uma conta? <a routerLink='/login'> Login </a> </p>
      </div>
        <form action="#">
            <div class="input-group">
                <input type="text" id="nome" placeholder="Nome" required>
            </div>

            <div class="input-group">
                <input type="email" id="email" placeholder="E-mail" required>
            </div>

            <div class="input-group">
                <input type="password" id="senha" placeholder="Senha" required>
            </div>

            <div class="input-group">
                <input type="password" id="Confirmarsenha" placeholder="Confirmar senha" required>
            </div>

            <div class="input-button">
                <button routerLink="/usoapp">Confirmar</button>
            </div>

        </form>
    </div>
</div>
</body>
