@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F0F0F0;
  font-family: offside;
  margin-bottom: 65px;
}

header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #704D97;
  color: white;
  font-size: large;
  margin-bottom: 20px;
  font-weight: bold;
}
