<main>
  <header>
    <mat-icon routerLink="/perfil">arrow_back_ios</mat-icon>
    <h1>Medicamentos - Editar</h1>
  </header>
</main>
<main>
  <section>
    <input type="text" placeholder="Nome do medicamento">
    <div *ngFor="let horario of horarios; let i = index">
      <div class="horario">
        <input type="number" [(ngModel)]="horario.hora" placeholder="Hora">
        <input type="number" [(ngModel)]="horario.minuto" placeholder="Minuto">
        <button (click)="alternarAmPm(i)">{{ horario.periodo }}</button>
        <div class="delete" *ngIf="horarios.length > 1">
          <button (click)="removerHorario(i)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" fill="#FFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
          </button>
        </div>
      </div>
    </div>
    <button class="concluir" (click)="adicionarHorario()">Adicionar Horário</button>
    <input type="text" placeholder="Estoque">
    <input type="text" placeholder="Dosagem">

    <div class="descricao">
      <h1>Observação</h1>
      <input type="text" placeholder="Digite aqui...">
    </div>

    <button class="concluir" routerLink="/organizacao">Editar</button>
    <button class="concluir" routerLink="/organizacao">Adicionar medicamento</button>
  </section>
</main>
