<body>
  <div class="box">
    <div class="form-box">
      <div class="cadastro">
        <h2>Como você deseja usar o app?</h2>
      </div>
        <form action="#">

            <div class="input-button">
                <button routerLink="/per-perfil">Uso individual</button>
            </div>

            <div class="input-button">
              <button>Criar família</button>
          </div>

          <div class="input-button">
            <button routerLink="/entrar-fam">Entrar na família</button>
        </div>

        </form>
    </div>
</div>
</body>
