<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="uso-app.component.css">
  <title>Document</title>
</head>
<body>
  <div class="box">
    <div class="form-box">
      <div class="cadastro">
        <h2>Como você deseja usar o app?</h2>
      </div>
        <form action="#">

            <div class="input-button">
                <button>Uso individual</button>
            </div>

            <div class="input-button">
              <button>Criar família</button>
          </div>

          <div class="input-button">
            <button>Entrar na família</button>
        </div>

        </form>
    </div>
</div>
</body>
</html>


